
/* common screen */
header{
  background: url(../img/background-lg.jpg);
}
main{
  padding: 30px 25px;
  background: url(../img/background-lg.jpg);;
}
main > h1{
  font-size: 35px;
  margin-bottom: 45px;
}
.category{
  padding: 10px 0;
  text-align: center;
}
.category h1{
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 3px;
}
.rank{
  padding: 20px 25px;
  background: #f2f2e1;
}
.rank h2{
  font-weight: bold;
  margin-bottom: 25px;
  text-align: center;
}
.post-fb{
  display: flex;
}
.post-fi.image{
  flex: 1;
}
.post-fi img{
  border-radius: unset;
  width: 120px;
  height: 180px;
  display: block;
  margin: 0 auto;
  object-fit: cover;
}
input[type="file"]{
  display: none;
}
.edit-btn{
  background: #7d9bc7;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  padding: 8px;
  margin-top: 30px;
  cursor: pointer;
}
.confirm-btn{
  background: #e8a4b0;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 8px;
  margin-top: 30px;
  margin-right: 15px;
  cursor: pointer;
  text-align: center;
}
.confirm-btn:hover{
  color: #fff;
  text-decoration: none;
  background: #f16981;
}
.post-fi label{
  display: block;
  margin: 0 auto;
  margin-top: 25px;
  width: 100px;
  font-size: 12px;
  text-align: center;
}
.post-fi.title{
  padding-top: 20px;
  padding-left: 13px;
  flex: 1;
}
.post-fi.title h3{
  font-size: 16px;
  line-height: 1.3;
}
.post-fi.title p{
  font-size: 14px;
}
.desc-wrapper{
  padding-top: 15px;
}
.desc-wrapper h3{
  font-size: 20px;
  margin-bottom: 10px;
}
.desc{
  margin-top: 15px;
  width: 100%;
  height: 175px;
  background: #ffffffc4;
  padding: 15px;
  border-radius: 8px;
  overflow: scroll;
}
.desc::-webkit-scrollbar{
  width: 10px;
  height: 10px;
}
.desc::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background: #aaa;
}
.desc p{
  font-size: 14px;
}
input[type="submit"]{
  display: none;
}

/* medium screen */
@media (min-width: 768px){
  main{
    padding-right: 40px;
    padding-left: 40px;
  }
  .post-fi img{
    width: 200px;
    height: 290px;
    margin: 0;
  }
  .post-fi label{
    width: fit-content;
    font-size: 14px; 
    margin: 30px 0 10px 43px;
  }
  .rank{
    padding: 30px 70px;
  }
  .rank h2{
    text-align: unset;
    margin-bottom: 30px;
  }
  .post-fi.title{
    text-align: unset;
  }
  .post-fi.title h3{
    font-size: 27px;
    margin-bottom: 20px;
  }
  .post-fi.title p{
    font-size: 18px;
  }
  .decision{
    padding: 0 70px;
  }
}

/* large screen */
@media (min-width: 1100px){
  main{
    padding-right: 220px;
    padding-left: 220px;
  }
  .category h1{
    font-size: 33px;
  }
  .rank{
    padding: 40px 100px;
  }
  .rank h2{
    margin-bottom: 45px;
    margin-top: 23px;
  }
  .image{
    position: relative;
  }
  .post-fi img{
    width: 240px;
    height: 340px;
    margin: 0;
  }
  .post-fi label{
    font-size: 16px;
    margin: 30px 0 10px 58px;
  }
  .post-fi.title{
    flex: 30%;
    margin-left: 40px;
  }
  .post-fi.title h3{
    font-size: 35px;
    margin-bottom: 45px;
  }
  .post-fi.title p{
    font-size: 25px;
  }
  .decision{
    padding: 0 100px;
  }
}